@use 'sass:color';
@import 'https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap';
@import './variables';
@import './libs/normalize';
@import './components/all';

body {
    overflow-x: hidden;

    margin-right: calc(-1 * (100vw - 100%));

    background-color: $background;
}

.wrapper {
    width: calc(100vw - 100px);
    max-width: 1400px;
    height: 100%;
    margin: 50px auto;

    border-radius: 10px;
    background-color: #fff;

    @media (max-width: 645px) {
        width: calc(100vw - 30px);
        margin-top: 15px;
    }
}

.content {
    padding: 40px 0;

    &__title {
        margin: 35px 0;
        margin-top: 60px;
        margin-bottom: 50px;
        padding: 10px;

        font-size: 38px;

        font-weight: 800;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 11px;

        @media (max-width: 1400px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 1060px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 730px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 760px) {
            ul {
                li {
                    padding: 8px 20px;
                }
            }
        }

        @media (max-width: 1260px) {
            .categories {
                overflow: auto;

                width: 100%;

                ul {
                    width: 785px;
                }
            }

            .sort {
                padding-left: 20px;

                b {
                    display: none;
                }
            }

            @media (max-width: 820px) {
                flex-direction: column-reverse;

                .categories {
                    margin-top: 30px;
                }
            }
        }
    }
}

.container {
    width: $container-width;
    margin: 0 auto;

    &--cart {
        max-width: 820px;
        margin: 90px auto;

        .content__title {
            margin: 0;
        }
    }

    @media (max-width: 640px) {
        .header__logo {
            align-items: center;
            flex-direction: column;

            h1,
            p {
                text-align: center;
            }
        }
    }
}
